body{
    padding:10px;
    border: 3px solid black;
    height: 400px;
    width:400px;
    margin-left:200px;
    margin-top:50px;
    

}

.Registration {
    padding:10px;
}

.H1{
    font-size:35px;
    font-weight:700;
}

.Mobile{
    padding:5px;
    width:340px;
    height:25px;
    font-size:25px;
    margin-bottom:10px;
    border-radius:5px;
    outline:none;
}

.Password{
    padding:5px;
    margin-top:20px;
    width:340px;
    height:25px;
    font-size:25px;
    border-radius:5px;
    outline:none;
}



.button{
      margin-top:30px;
      width:90px;
      height:30px;
      border-radius:5px;
      font-size:20px;
      cursor:pointer;
}